a, u {
    text-decoration: none;
}

.table-mats {
   width: 500px !important;
   margin:auto;
}

span.gold-g {
   color: rgb(221, 153, 53);
}

.choose-region {
   padding-top: 150px !important;
   padding-bottom: 150px !important;

}

.choose-region :hover {
   transition: background-color 2s ease;
   background-color: #f7f7f7;
}

.select-region-p {
   padding-top: 10px;
}

.links {
   z-index:9999 !important;
}


/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
   .table-mats {
      font-size: 75%;
      width: 100% !important;
   }
   .table-crafts {
      font-size: 75%;
      width: 100% !important;
   }

   div#bootsrap-overrides {
      padding: 0 !important;
   }

   .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
      padding: 8px 2px 8px 2px;
   }
}

/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
   .table-mats {
      font-size: 75%;
      width: 100% !important;
   }
   .table-crafts {
      font-size: 75%;
      width: 100% !important;
   }

   div#bootsrap-overrides {
      padding-left: 0 !important;
      padding-right: 0 !important;
   }

   .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
      padding: 8px 2px 8px 2px;
   }
}
