# compress text, html, javascript, css, xml:
# AddOutputFilterByType DEFLATE text/plain
# AddOutputFilterByType DEFLATE text/html
# AddOutputFilterByType DEFLATE text/xml
# AddOutputFilterByType DEFLATE text/css
# AddOutputFilterByType DEFLATE application/xml
# AddOutputFilterByType DEFLATE application/xhtml+xml
# AddOutputFilterByType DEFLATE application/rss+xml
# AddOutputFilterByType DEFLATE application/javascript
# AddOutputFilterByType DEFLATE application/x-javascript

# Or, compress certain file types by extension:
<files *.php>
SetOutputFilter GZIP
</files>
<files *.js>
SetOutputFilter GZIP
</files>
<files *.css>
SetOutputFilter GZIP
</files>
<files *.html>
SetOutputFilter GZIP
</files>
<files *.xml>
SetOutputFilter GZIP
</files>





Options +FollowSymLinks -MultiViews -Indexes

DirectoryIndex index.php index.html index.htm

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^/?item/(.*)$ item.php?item=$1 [NC,L]
RewriteRule ^/ index.php [NC,L]
RewriteRule ^/?seller seller.php [NC,L] 
RewriteRule ^/?seller/(.*)$ seller.php?seller=$1 [NC,L] 
RewriteRule ^/?addon addon.php [NC,L]
RewriteRule ^/?custom custom.php [NC,L]
