/* Header */
.blog-header {
    background-color: #8fccffb6;
    margin-top: 0;
    min-height: 175px;

    position: relative;
}

.blog-header-content {
    position: absolute;
    bottom: 0;
    left: 0;
}

.blog-title {
    margin-top: 0;
    font-size: 60px;
    color: white;
}
.blog-title a {
    text-decoration: none;
    color: white;
}

#bootstrap-overrides {
    padding: 0;
}

/* Navbar */
.navbar {
    margin-bottom: 0 !important;
}

/* Comment */
.comment-body {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);

    margin-top: 10px;
    padding: 7px;
}

.comment-body a {
    text-decoration: none;
}

.comment-list {
    list-style: none;
    padding-left: 0;
}

ul.children {
    list-style: none;    
}

.comments-title {
    font-size: 20px;
    margin-top: 20px;
}

.comment-respond {
    padding: 7px;
}

.comment-form-comment label {
    display: block;
}

textarea#comment {
    display: block;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
}

.submit {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 6px;
    color: #409cd6;
    font-size: 14px;
    background: #ffffff;
    padding: 5px;
    border: solid #409cd6 1px;
    text-decoration: none;

    transition: background 1s ease;
    transition: color 1s ease;
}

.submit:hover {
    background: #409cd6;
    text-decoration: none;
    color: #ffffff;
}


/* Post */
.blog-post {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);

    margin-top: 15px;
    padding: 10px;
}

.blog-post-title {
    font-size: 30px;
}

.blog-post-title a {
    text-decoration: none;
}

.blog-post-meta a {
    text-decoration: none;    
}

/* Sidebar */
.sidebar-module {
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.11);

    margin-top: 10px;
    padding: 7px;
}

.sidebar-title {
    font-size: 20px;
    margin-bottom: 0;
}

.sidebar-module a {
    text-decoration: none;
}

.sidebar-module hr {
    margin-top: 0;
    margin-bottom: 10px;
}